In [2]:
import numpy as np
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns

In [3]:
df= pd.read_csv('revenue_prediction.csv')

In [4]:
df.head()

,Id,Name,Franchise,Category,City,No_Of_Item,Order_Placed,Revenue
0,101,HungryHowie'sPizza,Yes,Mexican,Bengaluru,55,5.5,5953753
1,102,CharleysPhillySteaks,No,Varied Menu,Gurugram,72,6.8,7223131
2,103,Chuy's,Yes,Chicken,Pune,25,1.9,2555379
3,104,O'Charley's,Yes,Italian/Pizza,Mumbai,18,2.5,2175511
4,105,PolloTropical,Yes,Pizza,Noida,48,4.2,4816715

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            100 non-null    int64
 1   Name          100 non-null    object
 2   Franchise     100 non-null    object
 3   Category      100 non-null    object
 4   City          100 non-null    object
 5   No_Of_Item    100 non-null    int64
 6   Order_Placed  100 non-null    float64
 7   Revenue       100 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [16]:
df['Name'].value_counts().shape

(100,)

In [15]:
df['Category'].value_counts().shape

(20,)

In [18]:
df['City'].value_counts()

Bengaluru    43
Mumbai       19
Noida        18
Pune         13
Gurugram      7
Name: City, dtype: int64

In [23]:
df.head()

,Id,Name,Franchise,Category,City,No_Of_Item,Order_Placed,Revenue
0,101,HungryHowie'sPizza,Yes,Mexican,Bengaluru,55,5.5,5953753
1,102,CharleysPhillySteaks,No,Varied Menu,Gurugram,72,6.8,7223131
2,103,Chuy's,Yes,Chicken,Pune,25,1.9,2555379
3,104,O'Charley's,Yes,Italian/Pizza,Mumbai,18,2.5,2175511
4,105,PolloTropical,Yes,Pizza,Noida,48,4.2,4816715

In [32]:
x= df[['Order_Placed']]
y= df[['Revenue']]

In [35]:
y

    Revenue
0   5953753
1   7223131
2   2555379
3   2175511
4   4816715
..      ...
95  1270499
96  6412623
97  6694797
98  2344689
99  4567678

[100 rows x 1 columns]

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size= 0.3, random_state=6)

In [28]:
y_train = y_train.reshape(1,-1)
y_test = y_test.reshape(1,-1)

AttributeError: 'Series' object has no attribute 'reshape'

In [38]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor()
rf.fit(x_train, y_train)

C:\Users\Jay Parmar\AppData\Local\Temp\ipykernel_9968\2791214001.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestRegressor()

In [39]:
y_pred= rf.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.6892314927361032

In [42]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [43]:
y_pred= lr.predict(x_test)
r2_score(y_test, y_pred)

0.7636605712941142

In [45]:
y_pred

array([[ 8797285.25455776],
       [ 4308358.11702613],
       [ 5950648.53319624],
       [ 3870414.00604744],
       [ 3213497.83957939],
       [ 3322983.86732407],
       [ 5841162.50545157],
       [ 8359341.14357907],
       [ 4308358.11702613],
       [ 4198872.08928146],
       [ 4527330.17251548],
       [ 4089386.06153678],
       [ 3104011.81183472],
       [ 3979900.03379211],
       [ 3322983.86732407],
       [ 2994525.78409004],
       [ 3651441.95055809],
       [ 3541955.92281341],
       [ 2775553.7286007 ],
       [ 6169620.58868559],
       [ 5512704.42221754],
       [ 3541955.92281341],
       [ 4089386.06153678],
       [ 5074760.31123885],
       [ 6717050.72740896],
       [ 4855788.2557495 ],
       [ 7702424.97711102],
       [11753408.00366396],
       [ 5731676.47770689],
       [ 2009151.53438798]])

In [46]:
y_test

     Revenue
17   7513524
34   4100886
0    5953753
45   3752885
60   3164972
86   3351383
20   5025735
47   7865428
44   4264176
81   4066618
61   4350573
70   3982767
30   2408199
39   3818055
32   3261924
23   1999068
59   3600467
93   3410878
37   2740687
83   5966193
74   5500818
29   2447890
67   4052733
13   5107746
97   6694797
54   4651866
48   7201784
16  19696939
9    4544227
91   2083447